_site/
node_modules/
/_teaching/scala/code-examples/scala-training/target
/_teaching/scala/code-examples/scala-training/project/target
/_teaching/scala/code-examples/scala-training/.idea
/_teaching/scala/code-examples/scala-training/project/target/config-classes
/_teaching/scala/code-examples/scala-training/project/target/scala-2.12/sbt-1.0/resolution-cache/default/scala-training-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT
/_teaching/scala/code-examples/scala-training/project/target/scala-2.12/sbt-1.0/resolution-cache/reports
/Dyer, Gregersen, Christensen kap 1.pdf
/\[Dyer et al., 2011\] The Innovator's DNA - Mastering the Five Skills of Disruptive Innovators.pdf
